﻿<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=ADD TOKEN HERE" >
            <section name="FoodlandsDetection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=ADD TOKEN HERE" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <FoodlandsDetection.Properties.Settings>
            <setting name="set" serializeAs="String">
                <value />
            </setting>
        </FoodlandsDetection.Properties.Settings>
    </applicationSettings>
</configuration>